<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {% for item in site.data.navigation.main %}
            <li class="masthead__menu-item{% if forloop.first %} masthead__menu-item--lg masthead__menu-home-item{% endif %}">
              <a href="{{ domain }}{% if page.lang == 'en' %}{{ item.url_en }}{% else %}{{ item.url_zh }}{% endif %}"{% if item.url_en != item.url_zh %} data-en-href="{{ domain }}{{ item.url_en }}"{% endif %}><span class="i18n zh">{{ item.zh }}</span><span class="i18n en">{{ item.en }}</span></a>
            </li>
          {% endfor %}
          <li class="masthead__menu-item masthead__menu-lang-item"><a href="{% if page.lang == 'en' %}/{% else %}/en/{% endif %}" data-en-href="/"><span class="i18n zh">EN</span><span class="i18n en">中文</span></a></li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
